.swal2-container.swal2-backdrop-show,.swal2-container.swal2-noanimation{
    background-color: none !important;
}
.progress{
    height: 30px !important;
}
#search-dropdown{
    max-height: 400px !important;
    overflow-y: auto !important;
}
  